.detalle-container{

  max-width: 1000px;

  margin: auto;

  background: #1E293B;

  border-radius: 25px;

  overflow: hidden;

  border: 1px solid rgba(255,255,255,.08);

}

.detalle-imagen{

  width: 100%;

  height: 450px;

  object-fit: cover;

}

.detalle-info{

  padding: 40px;
}

.detalle-info h1{

  color: #FACC15;

  margin-bottom: 15px;
}

.detalle-info p{

  color: #CBD5E1;

  line-height: 1.8;
}

.detalle-info h3{

  margin: 20px 0;

  color: white;
}