html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0F172A, #1E293B);
  color: #F8FAFC;
}

.contenedor {
  width: 100%;
}