/* HERO */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 70px;
  gap: 40px;
  flex-wrap: nowrap;
}

.hero-texto {
  flex: 1;
}

.hero-texto h2 {
  font-size: 52px;
  color: #FACC15;
  margin-bottom: 20px;
}

.hero-texto p {
  font-size: 18px;
  color: #CBD5E1;
  margin-bottom: 25px;
  line-height: 1.7;
}

.hero-texto button {
  background-color: #FACC15;
  color: #0F172A;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease;
}

.hero-texto button:hover {
  background-color: #FDE047;
  transform: scale(1.05);
}

.hero-img img {
  width: 500px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(96,165,250,0.25);
}