.servicios{

  padding: 100px 70px;

  text-align: center;
}

.section-tag{

  display: inline-block;

  padding: 10px 16px;

  border-radius: 999px;

  background: rgba(250,204,21,.12);

  color: #FACC15;

  margin-bottom: 20px;
}

.servicios h2{

  font-size: 3rem;

  color: #F8FAFC;

  max-width: 800px;

  margin: 0 auto 60px auto;
}

.cards{

  display: grid;

  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));

  gap: 30px;
}

.card{

  background: #1E293B;

  padding: 35px;

  border-radius: 20px;

  transition: .3s;

  border: 1px solid rgba(255,255,255,.05);
}

.card:hover{

  transform: translateY(-8px);

  box-shadow: 0 15px 30px rgba(0,0,0,.3);
}

.card-icon{

  width: 70px;

  height: 70px;

  margin: auto auto 20px;

  border-radius: 18px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 2rem;

  background: rgba(250,204,21,.1);
}

.card h3{

  color: #FACC15;

  margin-bottom: 15px;
}

.card p{

  color: #CBD5E1;

  line-height: 1.8;
}